.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 0 ;
    .nav-link {
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;

        &:hover{
            background-color: blue;
            color: #fff;
        }
    }
}
